<button type="button" class="collapsible"><i class="fas fa-chevron-right"></i> Moderation</button>
	<div class="content bg-light">
	<p style="color: black; text-align: left"><%= mod %>
 </p>
	</div>
	<button type="button" class="collapsible"><i class="fas fa-chevron-right"></i> Fun</button>
	<div class="content bg-light">
	<p style="color: black; text-align: left"><%= fun %>
 </p>
	</div>
	<button type="button" class="collapsible"><i class="fas fa-chevron-right"></i> Information</button>
	<div class="content bg-light">
	<p style="color: black; text-align: left"><%= info %>
 </p>
	</div>
	<button type="button" class="collapsible"><i class="fas fa-chevron-right"></i> Utility</button>
	<div class="content bg-light">
	<p style="color: black; text-align: left"><%= utility %>
 </p>
	</div>
	<button type="button" class="collapsible"><i class="fas fa-chevron-right"></i> Anime</button>
	<div class="content bg-light">
	<p style="color: black; text-align: left"><%= anime %>
 </p>
	</div>
	<button type="button" class="collapsible"><i class="fas fa-chevron-right"></i> Misc</button>
	<div class="content bg-light">
	<p style="color: black; text-align: left"><%= misc %>
 </p>
	</div>